<nav class="">
    <div class='nav-wrapper purple darken-3'>
      <a href="#" class="brand-logo section">FinSmart</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li {% if request.path == '/' %} class="active" {% endif %}>
          <a href="/">Home</a>
        </li>
        <li {% if request.path == '/transactions/' %} class="active" {% endif %}>
          <a href={% url 'transaction_home' %}>Transactions</a>
        </li>
        <li {% if request.path == '/goals/' %}class="active"{% endif %}>
          <a href={% url 'goal_home' %}>Goals</a>
        </li>
        <li {% if request.path == '/habits/' %}class="active"{% endif %}>
          <a href={% url "home" %}>Habits</a>
        </li>
        <li {% if request.path == '/profile/' %}class="active"{% endif %}>
          <a href={% url "home" %}>Profile</a>
        </li>
        {% if user.is_authenticated %}
        <li>
          <a class="waves-effect waves-light btn" href={% url "logout" %}>Logout</a>
        </li>
        {% else %}
        <li>
          <a class="waves-effect waves-light btn" href={% url "login" %}>Login/SignUp</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>