{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction Details</title>
    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="{% static 'goal_detail.css' %}">
</head>
<body>
    <!-- Dialog element -->
    <dialog id="myDialog">
        <!-- Dialog content -->
        <p>All that you need to know about your transaction.</p>
        <p>Name: {{ transaction.description }}</p>
        <p>Id: {{ transaction.id }}</p>
        <p>Created On: {{ transaction.date }}</p>
        <p>Transaction Amount: {{ transaction.amount }}</p>
        <!-- Add more goal details as needed -->
        <button id="closeDialogBtn">Close</button>
    </dialog>

    <!-- Script to handle dialog opening and closing -->
    <script>
        // Get references to elements
        const myDialog = document.getElementById('myDialog');
        const closeDialogBtn = document.getElementById('closeDialogBtn');

        // Add event listener to close dialog button
        closeDialogBtn.addEventListener('click', () => {
            // Close the dialog
            myDialog.close();
            window.location.href = "{% url 'transaction_home' %}";
        });

        // Open the dialog when the page is loaded
        window.onload = function() {
            myDialog.showModal();
        };
    </script>
</body>
</html>
